<div class="row">
    <div class="col-md-12">
<div class="col-md-2">
    <img height=110 width=200 class="top-nav__image" src="https://s3.amazonaws.com/rfp-logo/logo.png">
    <hr>
 <ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="/accounts">Users</a></li>
    <li><a href="#">Setting</a></li>
    <li><a href="#">Profile</a></li>
    <li><a href="#">Email Template</a></li>
    <li><a href="#">Manage Client</a></li>
</ul>
<hr>
</div>
<div class="col-md-10">
<div class="panel panel-default">
      <div class="panel-heading">
        <h2 id="user_title">Edit User</h2>
      </div>
  <div class="panel-body">

<div class="row row col-md-12">
        <form class="" role="form">
       <div class="col-md-offset-1 col-md-5">
        <div class="form-group">
            <label for="username">Username</label>
            {{input type="text" value=model.username class="form-control" readonly="readonly" id="username" name="username" placeholder="Username"}}
        </div>
         <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
             {{input value=model.email class="form-control" id="exampleInputEmail1" placeholder="Enter email"}}
        </div>              
        </div>      
        <div class="col-md-offset-1 col-md-5">
            <div class="form-group">
            <label for="first_name">First Name</label>
             {{input value=model.first_name class="form-control" id="first_name" placeholder="Enter first name"}}
        </div>
              <div class="form-group">
            <label for="last_name">Last Name</label>
             {{input value=model.last_name class="form-control" id="last_name" placeholder="Enter last name"}}           
        </div>   
            <button type="submit" class="btn btn-success btn-lg" {{action 'saveAccount' model}}><span class="glyphicon glyphicon-ok"></span> Save</button>
            <a href="/accounts"><button id="close_create_user" type="button" class="btn btn-deafualt btn-lg">
            Close
            </button></a>
        </div>        
        </form> 
    </div>
     </div>
</div>
</div>
</div>
</div>